.transclude-content(ng-transclude)

h1.os-popover-header Jade {{ osPopover.title }}

p.os-popover-description Jade {{ osPopover.description }}

.os-popover-actions(layout="row", layout-align="space-between center")
  div Edit
  div Move
  div Delete
